<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" colors="true">

    <php>
        <server name="KERNEL_DIR" value="Tests/Controller/App" />
        <server name="KERNEL_CLASS" value="Debril\RssAtomBundle\Tests\Controller\App\AppKernel" />
    </php>

    <testsuites>
        <testsuite name="DebrilRssAtomBundle test suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./DependencyInjection</directory>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
